/*
 * E-ADDONS for Elementor - EDITOR
 * e-addons.com
 */

/* ABBR */
.elementor-panel .elementor-control-title abbr {
    text-decoration: none;
}
.elementor-panel .elementor-control-title abbr:after {
    content: '?';
    display: inline-block;        
    font-size: 10px;
    color: #fff;
    background-color: #666; /*#9f16ff;*/
    border-radius: 50%;    
    width: 13px;
    height: 13px;
    padding: 2px 4px;
    margin: 0 4px;
    cursor: pointer;
    /*left: -1px;
    transform: translateY(-100%);*/
}

/******************************************************************************/

/* TEMPLATE */
.elementor-context-menu-list__item:not(.elementor-context-menu-list__item--disabled).elementor-context-menu-list__item-template:hover {
    background-color: #fcb92c;
}

/******************************************************************************/

/* SELECT2 */
.select2 .select2-results__option[aria-selected="true"] {
    font-weight: bold;
}
.select2 .select2-selection__placeholder {
    opacity: 0.5;
}